@model List<EntityLayer.Concrete.Job>
@{
    ViewData["Title"] = "JobDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
@foreach (var item in Model)
{
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                            <div class="company-img company-img-details">
                                <a href="#"><img src="assets/img/icon/job-list1.png" alt=""></a>
                            </div>
                            <div class="job-tittle">
                                <a href="#">
                                    <h4>@item.JobTitle</h4>
                                </a>
                                <ul>
                                    <li>@item.CategoryID</li>
                                    <li><i class="fas fa-map-marker-alt"></i>@item.Location</li>
                                        <li>@item.Salary $</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>İş Tanımı</h4>
                            </div>
                            <p>@item.Description</p>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>İstenen Yetkinlik, Bilgi ve Beceriler</h4>
                            </div>
                            <ul>
                                <li>@item.Requirements</li>
                                
                            </ul>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Eğitim ve Tecrübe</h4>
                            </div>
                            <ul>
                                <li>3 or more years of professional design experience</li>
                                <li>Direct response email experience</li>
                                <li>Ecommerce website design experience</li>
                                <li>Familiarity with mobile and web apps preferred</li>
                                <li>Experience using Invision a plus</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>İş Özeti</h4>
                        </div>
                        <ul>
                            <li>Yayımlanma Tarihi : <span>@item.PostedDate</span></li>
                            <li>Konum : <span>@item.Location</span></li>
                            <li>Alınacak Kişi Sayısı : <span>2</span></li>
                            <li>Çalışma Tipi : <span>Tam Zamanlı</span></li>
                            <li>Maaş : <span>$@item.Salary Yıllık</span></li>
                            <li>Son Başvuru Tarihi : <span>@item.ExpirationDate</span></li>
                        </ul>
                        <div class="apply-btn2">
                            <a href="#" class="btn">Şimdi Başvur</a>
                        </div>
                    </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Şirket Bilgileri</h4>
                        </div>
                        <span>Şirket Adı</span>
                        <p>Şirket Hakkında Açıklama.</p>
                        <ul>
                            <li>Name: <span>Colorlib </span></li>
                            <li>Web : <span> colorlib.com</span></li>
                            <li>Email: <span>carrier.colorlib@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    <!-- job post company End -->

</main>
