@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EntityLayer.Concrete.ViewModels.DetailedJobViewModel
@{
    ViewData["Title"] = "JobDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    @if (Model != null)
    {
        <!-- job post company Start -->
        <div class="job-post-company pt-120 pb-120">
            <div class="container">
                <div class="row justify-content-between">
                    <!-- Left Content -->
                    <div class="col-xl-7 col-lg-8">
                        <!-- job single -->
                        <div class="single-job-items mb-50">
                            <div class="job-items">

                                <div class="job-tittle">
                                    <a href="#">
                                        <h4>@Model.JobTitle</h4>
                                    </a>
                                    <ul>
                                        <li>@Model.JobCategory.CategoryName</li>
                                        <li><i class="fas fa-map-marker-alt"></i>@Model.Location</li>
                                        <li>@Model.Salary $</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- job single End -->

                        <div class="job-post-details">
                            <div class="post-details1 mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>İş Tanımı</h4>
                                </div>
                                <p>@Model.Description</p>
                            </div>
                            <div class="post-details2  mb-50">
                                <!-- Small Section Tittle -->
                                <div class="small-section-tittle">
                                    <h4>İstenen Yetkinlik, Bilgi ve Beceriler</h4>
                                </div>
                                <ul>
                                    <li>@Model.Requirements</li>

                                </ul>
                            </div>

                        </div>

                    </div>
                    <!-- Right Content -->
                    <div class="col-xl-4 col-lg-4">
                        <div class="post-details3  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>İş Özeti</h4>
                            </div>
                            <ul>
                                <li>Yayımlanma Tarihi : @Model.PostedDate<span></span></li>
                                <li>Konum : @Model.Location<span></span></li>
                                <li>Maaş : <span>@Model.Salary $ Yıllık</span></li>
                                <li>Son Başvuru Tarihi : @Model.ExpirationDate<span></span></li>
                            </ul>
                            <div class="apply-btn2">
                                @{
                                    var id = Context.Session.GetInt32("User");
                                    Context.Session.SetInt32("Job", Model.JobID);

                                }
                                @if(id!=null){
                                    <a href="../ApplyJob" class="btn">Şimdi Başvur</a>
                                }else{
                                    <a asp-controller="Account" asp-action="Login" class="btn">Şimdi Başvur</a>

                                }
                                
                            </div>
                        </div>
                        <div class="post-details4  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Şirket Bilgileri</h4>
                            </div>
                            
                            
                            <ul>
                                <li>Name: <span>@Model.Employer.CompanyName </span></li>
                                <li>Description: <span>@Model.Employer.CompanyDescription</span></li>
                                <li>Adress: <span>@Model.Employer.Address</span></li>
                                <li>Contact Name: <span>@Model.Employer.ContactName</span></li>
                                <li>Email: <span>@Model.Employer.CompanyEmail</span></li>
                                <li>Phone: <span>@Model.Employer.CompanyPhone</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- job post company End -->
    }
</main>
